.hero {
  position: relative;
  height: clamp(360px, 37vw, 430px);
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-image: url("../../images/homepageBanner.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center -11vw;
}

.hero::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 93%;
  height: 180px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 60%,
    rgba(255, 255, 255, 0.15) 80%,
    rgba(255, 255, 255, 0.5) 90%,
    rgba(255, 255, 255, 1) 100%
  );
}

.content,
.offer {
  position: relative;
  z-index: 1;
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: #ec4899;
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 10px;
  background-color: #e6dbdb;
  width: max-content;
  padding: 2px 5px;
  border-radius: 7px;
}

.badge svg {
  color: #ec4899;
}

.content {
  margin: -25px 0 0 75px;
  flex: 1;
}

.content h1 {
  font-size: 45px;
  font-weight: 700;
  letter-spacing: -0.055em;
  line-height: 1.1;
  color: #25103d;
  margin: 0 0 10px;
}

.content h1 span {
  color: #ec4899;
}

.content p {
  color: #666;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.6;
  max-width: 430px;
  margin-bottom: 25px;
}

/* BUTTONS */

.buttons {
  display: flex;
  gap: 15px;
}

.buttons button {
  width: 125px;
  padding: 14px 8px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
}

.primary {
  border: none;
  background: #ec4899;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.secondary {
  background: #fff5f9;
  border: 1px solid #ec4899;
  color: #ec4899;
}

.offer {
  width: 130px;
  flex-shrink: 0;
  padding: 15px;
  border-radius: 18px;
  background: white;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
  text-align: left;
  margin-right: 80px;
  margin-bottom: 40px;
}

.offerIcon {
  width: 45px;
  height: 45px;
  margin: 0;
  border-radius: 50%;
  background: #f7e5ff;
  color: #ec4899;
  display: flex;
  align-items: center;
  justify-content: center;
}

.offer h4 {
  margin: 12px 0;
  color: #555;
  font-size: 13px;
}

.offer p {
  color: #777;
  margin: 0;
  font-size: 13px;
}

.offer h2 {
  font-size: 32px;
  margin: 5px 0;
  color: #ec4899;
}

.offer h2 span {
  color: #ec4899;
}

.limited {
  color: #777;
  font-size: 12px;
}

.offer button {
  width: 100%;
  margin: 18px auto 0;
  padding: 10px;
  font-size: 13px;
  border: none;
  border-radius: 8px;
  background: #ec4899;
  color: white;
  font-weight: 600;
}

/* WIDE SCREEN / ZOOM OUT */

@media (min-width: 1750px) {
  .badge {
    font-size: 13px;
  }

  .content h1 {
    font-size: 55px;
  }

  .content p {
    font-size: 20px;
    max-width: 520px;
  }

  .buttons button {
    width: 150px;
    font-size: 14px;
  }

  .offer {
    width: 155px;
    padding: 18px;
  }

  .offer h4 {
    font-size: 15px;
  }

  .offer p {
    font-size: 15px;
  }

  .offer h2 {
    font-size: 38px;
  }

  .limited {
    font-size: 14px;
  }

  .offer button {
    font-size: 15px;
  }
}

@media (min-width: 2100px) {
  .badge {
    font-size: 16px;
  }

  .content h1 {
    font-size: 67px;
  }

  .content p {
    font-size: 25px;
    max-width: 650px;
  }

  .buttons button {
    width: 185px;
    padding: 17px 10px;
    font-size: 17px;
  }

  .offer {
    width: 195px;
    padding: 21px;
  }

  .offerIcon {
    width: 55px;
    height: 55px;
  }

  .offer h4 {
    font-size: 18px;
  }

  .offer p {
    font-size: 18px;
  }

  .offer h2 {
    font-size: 46px;
  }

  .limited {
    font-size: 17px;
  }

  .offer button {
    padding: 12px;
    font-size: 18px;
  }
}

/* MOBILE */

@media (max-width: 760px) {
  .hero {
    height: 500px;
    background-size: auto 100%;
    background-position: 62% center;
    align-items: flex-start;
  }

  .content {
    margin: 48px 24px 0;
  }

  .content h1 {
    font-size: 38px;
  }

  .content p {
    font-size: 17px;
    max-width: 430px;
  }

  .buttons button {
    width: 125px;
    font-size: 12px;
    padding: 14px 8px;
  }

  .offer {
    display: none;
  }

  .badge {
    width: fit-content;
    font-size: 11px;
  }
}